.gcloudignore
# If you would like to upload your .git directory, .gitignore file or
# files from your .gitignore file, remove the corresponding line below:

*~
*.pyo


/node_modules/
embedded_jdk
remotejdk_


**/remotejdk_*
**/embedded_jdk
**/RCS/
**/tests/
**/django-1.4/
**/django-1.2/
**/django/**/locale/
